{% extends "base.html" %}

{% block custom_style%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
{% endblock %}
{% block title %}
GQB - Home
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-custon">
        <a class="navbar-brand" href="{{ url_for('home')}}">Gremlin Query Builder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#query-builder">Build</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">Read More</a>
                </li>
            </ul>
        </div>
    </nav> 
{% endblock %}

{% block main %}
<section class="section">
<div class="container">
    <div class="row card-deck">
        <div class="card card-image1">
            <a href="#headingOne">
                <img class="card-img-top" src="{{ url_for('static', filename='img/image1.png') }}"  alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Select Vertices</h4>
                    <p class="card-text image1-text">Select all Vertices that meet a condition. Here: All vertices that have value "US" for the key "country".</p>
                </div>
            </a>
        </div>
        <div class="card card-image2">
            <a href="#headingTwo">
                <img class="card-img-top" src="{{ url_for('static', filename='img/image2.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Select Edges</h4>
                    <p class="card-text">Select all edges in a given graph.</p>
                </div>
            </a>
        </div>
        <div class="card card-image3">
            <a href="#headingThree">
                <img class="card-img-top" src="{{ url_for('static', filename='img/image3.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Select Edge by Traversal</h4>
                    <p class="card-text">Select all the edges that are going in or out of the vertex with code "MSP".</p>
                </div>
            </a>
        </div>
        <div class="card card-image4">
            <a href="#headingFour">
                <img class="card-img-top" src="{{ url_for('static', filename='img/image4.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Select Vertices by Traversal</h4>
                    <p class="card-text">Select all vertices that have in/out edge connection <i>from</i> vertex with code "OAK".</p>
                </div>
            </a>
        </div>
    </div>
</div>
</section>
<!-- SECTION QUERY -->  
<section class="section">
    <div class="container">
        <header><h1> What is Gremlin? </h1></header>
        <blockquote cite="https://docs.janusgraph.org/basics/gremlin/">
            <p>
                Gremlin is JanusGraph’s query language used to retrieve data from and modify data in the graph. Gremlin is a path-oriented language which succinctly expresses complex graph traversals and mutation operations. Gremlin is a functional language whereby traversal operators are chained together to form path-like expressions. 
            </p>
            <cite> <a href="https://docs.janusgraph.org/basics/gremlin/">-Janusgraph Doc</a></cite>
        </blockquote>
    </div>
</section>
<section class="section" >
    <div class="container" id="query-builder">
        <header class="section-header">
            <h1 class="section-title">Try It Yourself </h1>
            <p class="section-tagline">Build</p>
        </header>
    <div id="accordion">
        <div class="card border-0">
          <div class="card-header border-1 card-title-custom" id="headingOne" >
            <h5 class="mb-0">
              <button class="btn btn-lg btn-block card-title-custom" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Count
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
            <!-- <form > Count() -->
                <div class="row" class="form-group">
                    <div class="col">
                        <label for="entityCount">Select Entity</label>
                        <select class="custom-select" id="entityCount" onchange="updatePropertyNameOptions('Count');">
                            <option selected value="V()">Vertex</option>
                            <option value="E()">Edge</option>
                        </select>              
                    </div>
                    <div class="col">
                    <label for="PropertyNameCount">Property Name</label>
                    <select class="custom-select" id="propertyNameCount" onchange="updatePropertyValueOptions('Count');">
                        <option selected value="label">label</option>
                        <option value="code">code</option>
                        <option value="city">city</option>
                        <option value="country">country</option>
                        <option value="runaways">runaways</option>
                    </select>             
                    </div>
                    <div class="col">
                        <label for="propertyValueCount">Property Value</label>
                        <select class="custom-select" id="propertyValueCount">
                            <option selected value="airport">airport</option>
                        </select>             
                    </div>
                    <div class="col">
                        <label for="resultValueCount">Result Value</label>
                        <select class="custom-select" id="resultValueCount">
                            <option selected value="count">count</option>
                        </select>             
                    </div>  
                    <div class="col">
                        <label><br></label> <br>
                        <button class="btn btn-custom" type="submit" onclick="getQueryResult('Count');">Get Query</button>
                    </div>
                </div> 
        <!-- </form> -->
            </div>
            <!-- COUNT RESULT -->
            <div class="card text-center border-0">
                <div class="card-body text-white query-result">
                        <h5 id="basicQueryStringCount"> QUERY RESULT </h5>
                </div>
                <!-- <img class="card-img-bottom" src="{{ url_for('static', filename='img/air-route.png') }}" alt="Card image cap"> -->
            </div>
        </div>
        </div>
        <div class="card border-0">
          <div class="card-header border-1 card-title-custom" id="headingTwo" class="collapse">
            <h5 class="mb-0">
              <button class="btn btn-lg btn-block collapsed card-title-custom" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Value
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
        <!-- <form > Value() -->
            <div class="row" id="valueForm" class="form-group">
                    <div class="col">
                        <label for="entityValues">Select Entity</label>
                        <select class="custom-select" id="entityValues" onchange="updatePropertyNameOptions('Values');">
                            <option selected value="V()">Vertex</option>
                            <option value="E()">Edge</option>
                        </select>              
                    </div>
                    <div class="col">
                    <label for="propertyNameValues">Property Name</label>
                    <select class="custom-select" id="propertyNameValues" onchange="updatePropertyValueOptions('Values');">
                        <option selected value="label">label</option>
                        <option value="code">code</option>
                        <option value="city">city</option>
                        <option value="country">country</option>
                        <option value="runaways">runaways</option>
                    </select>             
                    </div>
                    <div class="col">
                        <label for="propertyValueValues">Property Value</label>
                        <select class="custom-select" id="propertyValueValues">
                            <option selected value="airport">airport</option>
                        </select>             
                    </div>
                    <div class="col">
                        <label for="resultValueValues">Result Value</label>
                        <select class="custom-select" id="resultValueValue">
                            <option selected value="values">values</option>
                        </select>             
                    </div> 
                    <div class="col">
                        <label for="resultValueOptionsValues">Which Values</label>
                        <select class="custom-select" id="resultValueOptionsValues" multiple>
                            <option selected value="values">all</option>
                            <option value="label">label</option>
                            <option value="code">code</option>
                            <option value="city">city</option>
                            <option value="country">country</option>
                            <option value="runaways">runaways</option>
                        </select>             
                    </div>   
                    <div class="col">
                        <label><br></label> <br>
                        <button class="btn btn-custom" type="submit" onclick="getQueryResult('Values');">Get Query</button>
                    </div>
                </div> 
        <!-- </form> -->            
            </div>
            <!-- RESULT CONTAINER Value()-->
            <!-- COUNT RESULT -->
            <div class="card text-center border-0">
                <div class="card-body text-white query-result">
                    <h5 id="basicQueryStringValues"> QUERY RESULT </h5>
                </div>
                <!-- <img class="card-img-bottom" src="{{ url_for('static', filename='img/air-route.png') }}" alt="Card image cap"> -->
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div class="card-header border-1 card-title-custom" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-lg btn-block collapsed card-title-custom" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ValueMap
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
        <!-- <form > ValueMap()-->
            <div class="row" class="form-group">
                    <div class="col">
                        <label for="entityValueMap">Select Entity</label>
                        <select class="custom-select" id="entityValueMap" onchange="updatePropertyNameOptions('ValueMap');">
                            <option selected value="V()">Vertex</option>
                            <option value="E()">Edge</option>
                        </select>              
                    </div>
                    <div class="col">
                    <label for="PropertyNameValueMap">Property Name</label>
                    <select class="custom-select" id="propertyNameValueMap" onchange="updatePropertyValueOptions('ValueMap');">
                        <option selected value="label">label</option>
                        <option value="code">code</option>
                        <option value="city">city</option>
                        <option value="country">country</option>
                        <option value="runaways">runaways</option>
                    </select>             
                    </div>
                    <div class="col">
                        <label for="propertyValueValueMap">Property Value</label>
                        <select class="custom-select" id="propertyValueValueMap">
                            <option selected value="airport">airport</option>
                        </select>             
                    </div>
                    <div class="col">
                        <label for="resultValueValueMap">Result Value</label>
                        <select class="custom-select" id="resultValueValueMap">
                            <option selected value="value">value</option>
                        </select>             
                    </div> 
                    <div class="col">
                        <label for="resultValueOptionsValueMap">Which Values</label>
                        <select class="custom-select" id="resultValueOptionsValueMap" multiple>
                            <option selected value="value">all</option>
                            <option value="label">label</option>
                            <option value="code">code</option>
                            <option value="city">city</option>
                            <option value="country">country</option>
                            <option value="runaways">runaways</option>
                        </select>             
                    </div>   
                    <div class="col">
                        <label><br></label> <br>
                        <button class="btn btn-custom" type="submit" onclick="getQueryResult('ValueMap');">Get Query</button>
                    </div>
                </div> 
            <!-- </form> -->             
            </div>
            <!-- COUNT RESULT -->
            <div class="card text-center border-0">
                <div class="card-body text-white query-result">
                    <h5 id="basicQueryStringValueMap"> QUERY RESULT </h5>
                </div>
                <!-- <img class="card-img-bottom" src="{{ url_for('static', filename='img/air-route.png') }}" alt="Card image cap"> -->
            </div>
        </div>
        </div>
        <div class="card border-0">
        <div class="card-header border-1 card-title-custom" id="headingFour">
            <h5 class="mb-0">
            <button class="btn btn-lg btn-block collapsed card-title-custom" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Traversal 
            </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
        <!-- <form > Traversal-->
            <div class="row" class="form-group">
                    <div class="col">
                        <label for="entityValueTraversal">Select Entity</label>
                        <select class="custom-select" id="entityValueTraversal" onchange="updatePropertyNameOptions('ValueTraversal');">
                            <option selected value="V()">Vertex</option>
                            <option value="E()">Edge</option>
                        </select>              
                    </div>
                    <div class="col">
                    <label for="PropertyNameValueTraversal">Property Name</label>
                    <select class="custom-select" id="propertyNameValueTraversal" onchange="updatePropertyValueOptions('ValueTraversal');">
                        <option selected value="label">label</option>
                        <option value="code">code</option>
                        <option value="city">city</option>
                        <option value="country">country</option>
                        <option value="runaways">runaways</option>
                    </select>             
                    </div>
                    <div class="col">
                        <label for="propertyValueValueTraversal">Property Value</label>
                        <select class="custom-select" id="propertyValueValueTraversal">
                            <option selected value="airport">airport</option>
                        </select>             
                    </div>
                    <div class="col">
                        <label for="resultValueValueTraversal">Result Value</label>
                        <select class="custom-select" id="resultValueValueTraversal">
                            <option selected value="valueMap()">valueMap()</option>
                        </select>             
                    </div> 
                    <div class="col">
                        <label for="resultValueOptionsTraversal">Which Values</label>
                        <select class="custom-select" id="resultValueOptionsTraversal" multiple>
                            <option selected value="value">all</option>
                            <option value="label">label</option>
                            <option value="code">code</option>
                            <option value="city">city</option>
                            <option value="country">country</option>
                            <option value="runaways">runaways</option>
                        </select>             
                    </div>   
                    <div class="col">
                        <label> <br></label> <br>
                        <button class="btn btn-custom" type="submit" onclick="getQueryResult('ValueTraversal');">Get Query</button>
                    </div>
                </div> 
            <!-- </form> -->             
        </div>
            <!-- COUNT RESULT -->
            <div class="card text-center border-0">
                <div class="card-body text-white query-result">
                    <h5 id="basicQueryStringTraversal"> QUERY RESULT </h5>
                </div>
                <!-- <img class="card-img-bottom" src="{{ url_for('static', filename='img/air-route.png') }}" alt="Card image cap"> -->
            </div>    
        </div>
        </div>
    </div>
</section>
<!-- SECTION RESULT -->
<section class="section">
    <div class="container">
        <p id="basicQueryString"> </p>
    </div>
</section>
</div>
{% endblock %}
