:root {
    --color-primary: green;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --color-med-grey: #797d80;
    /* font types */
    --font-family-base: "Open san", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font size */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
    /* section */
    --section-header-align: center;
    --section-tagline-transform: uppercase;
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
    --section-padding: 3rem 0;
    --section-header-padding: 0 0 3rem;
    --section-body-padding: 0 0 3rem;

    --section-tagline-color: #58806a;
}


body{
    background-color: var(--color-white);
}
.navbar-custon{
    background-color:#4c5c68;
}

.navbar-brand{
    color: black;
}

.nav-item a{
    color: #f4f3ee;
}
.title {
    text-align: center;
}

.section-header{
    text-align: var(--section-header-align);
    padding: var(--section-header-padding);
}

.form-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 5rem;
    width: 100%;
}

.query-option {
    padding: 1rem;
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    margin: 0;
}

select {
    appearance: none;
    font-family: var(--font-family-base);
    background-color: transparent;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}


select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }

input[type=submit] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: pink;
}

input[type=submit]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
