*,
*::before,
*::after {
  box-sizing: border-box;
}

/* nav{
    float:right;
} */

/* .logo img{
    float:left;
} */
/* 
.nav-list li{
  display: inline-block; 
  padding:10px;
  font-size:20px; 
  font-family:raleway;
} */

/* .nav-list li:hover{
  color: var(--section-tagline-color);
  
}
.nav-link{
    text-decoration: none;
    color: var(--color-black);
} */


/* footer */

#resource-item-container{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.resources-item{
  background-color: var(--color-light-grey);
  padding: 1.2rem 5rem;
  
}

.resources-item a {
  text-decoration: none;
  color: var(--color-black);
}

#resources .container {
  border-top: solid #797d80;
  padding: 1rem 1rem;

}

#footer li{
    display: inline;
    font-family: raleway;
    font-size: var(--font-size-small);
    margin: 1rem;

}

.footer-item{
  text-decoration: none;
  color: #81898f;
}

.footer-item:hover{
  text-decoration: none;
  color: #4f555a;
}

